body {
  margin: 0;
  padding 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ddd;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  color: #333;
  font-weight: bold;
}

section {
  /*padding: 20px; */
  padding: 200px;
  text-align: center;
  background-color: #fff;
}

h2 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-style: italic;
  color: #555;
}

img {
  padding: 20px;
}

#section1 {
  padding: 40px;
  background: linear-gradient(to right, #FFFFFF, #466D1D);
}

#section2 {
  background: linear-gradient(to right, #FFFFFF, #FFF200);
}

#section3 {
  background: linear-gradient(to right, #FFFFFF, #82CAFF);
}

#section4 {
  background: linear-gradient(to right, #FFFFFF, #98BF64);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
